.main{
    height: 100%;
    width: 100%;
    background-color: #03071E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upper-bar{
    width: 100%;
    height: 80px;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}
.title{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.title h1{
    font-size: 20px;
    color: #E85D04;
}
.title .material-icons{
    font-size: 35px;
    margin-left: 20px;
    color: #E85D04;
}
.logout-btn{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-btn .material-icons{
    font-size: 25px;
    color: #FFBA08;
}
.accordion{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}
.acc{
    width:100%;
    height:70px;
}
.list{
    width: 100%;
    height: 100%;
    background-color: #FFBA08;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion .title
{
  width: 100%;
  max-height: 70px ;
  background-color: #FFBA08;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.accordion .title h1
{
  color: #03071E;
  font-weight: bolder
}
.accordion .material-icons{
  color: #03071E;
}

.sub-list{
  width: 100%;
  height: 100%;
  background-color:black;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  // flex-direction: column;
  padding: 10px;
  overflow: auto;
  flex-flow: row wrap;
  transition: 1s ease-in;
}
.hide{
  display: none;
  transition: 1s ease-in;

}
.visi{
  display: flex;
  transition: 1s ease-in;

}
.card{
  width: 100%;
  height: 70px;
  background-color: #212E77;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card .item-img{
  width: 30%;
  height: 100%;
  background-color: #D9D9D9;
  box-shadow: 5px 0px 10px black;

}
.card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item-details{
  width: 55%;
  height: 100%;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.item-details h4{
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: start;
}
.item-details p{
  font-size: 20px;
  font-weight: bolder;
  color: #FFBA08;
  text-align: end;
}
.add-to-card-btn{
  width: 15%;
  height: 100%;
  background-color: #D9D9D9;
  box-shadow: -5px 0px 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-to-card-btn .material-icons{
  color: #E85D04;
}
