<div class="main">
    <div class="upper-bar">
        <div class="title">
            <span class="material-icons">restaurant</span>
            <h1>SFIT CANTEEN</h1>
        </div>
        <div class="logout-btn">
            <span class="material-icons">logout</span>
        </div>
    </div>
    <div class="accordion">
        <div class="acc">
            <div class="list">
                <div class="tit"><h1>Fastfood</h1></div>
                <div class="drop-icon"><span class="material-icons">arrow_drop_down_circle</span></div>
            </div>
            <div class="sub-list">
                
            </div>
        </div>
        <div class="acc">
            <div class="list">
                <div class="tit"><h1>Beverages</h1></div>
                <div class="drop-icon"><span class="material-icons">arrow_drop_down_circle</span></div>
            </div>
        </div>
        <div class="acc">
            <div class="list">
                <div class="tit"><h1>Snacks</h1></div>
                <div class="drop-icon"><span class="material-icons">arrow_drop_down_circle</span></div>
            </div>
        </div>
    </div>
</div>