<div class="main">
  <div class="upper-bar">
    <div class="title">
      <h1>Cart</h1>
    </div>
    <div class="logout-btn">
      <span class="material-icons">logout</span>
    </div>
  </div>

  <div class="cart-table overflow-auto">
    <table class="w-full border-collapse block md:table">
      <thead class="block md:table-header-group">
        <tr class="block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Item name</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Price</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Add items</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Actions</th>
        </tr>
      </thead>
      <tbody class="block md:table-row-group">
        <tr class="block odd:bg-amber-200 p-4 even:bg-amber-100 h-64 md:h-24 md:table-row mb-2">
          <td class="p-2 ml-4 text-left block md:table-cell text-lg font-bold"><span class="inline-block w-1/3 md:hidden font-light">Item name</span>Pizza</td>
          <td class="p-2 ml-4 text-left block md:table-cell text-lg font-bold"><span class="inline-block w-1/3 md:hidden font-light">Price</span>80/-</td>
          <td class="p-2 ml-4 mt-2  text-left block md:table-cell flex items-center justify-start text-lg font-bold"><span class="inline-block w-1/3 md:hidden font-light">Add items</span>
            <div class=" flex items-center justify-start">
              <span class="material-icons text-4xl text-amber-600 mr-3">add_circle</span>
              <p class="text-2xl text-amber-900">1</p>
              <span class="material-icons text-4xl text-amber-600 ml-3">remove_circle</span>
            </div>
          </td>
          <td class="p-2 mt-4 ml-4 flex items-center justify-start text-left block md:table-cell text-lg font-bold">
            <span class="inline-block w-1/3 md:hidden font-light">Actions</span>
            <span class="material-icons text-red-600 text-4xl">delete</span>
          </td>
        </tr>



      </tbody>
    </table>
  </div>
  <div class="bottom-bar">
    <h2>Total Payment : <span>30/-</span></h2>
    <button>Pay</button>
  </div>
</div>
