<div class="main">
  <div class="flex items-center  justify-center p-12">
    <div class="mx-auto  w-full h-full ">
      <form #item="ngForm" (ngSubmit)="GetItems(item.value)">
          <div class="w-full  p-2 ">
            <div class="mb-5">
              <label
                for="fName"
                class="mb-3 block text-base font-medium text-amber-500"
              >
                Item Name
              </label>
              <input
                type="text"
                name="itemname"
                id="fName"
                placeholder="First Name"
                ngModel
                class="w-full  bg-white py-3 px-6 placeholder-blue-500 focus:placeholder-amber-900 font-medium text-blue-950 outline-none focus:bg-amber-500"
              />
            </div>
          </div>
          <div class="w-full  p-2 ">
            <div class="mb-5">
              <label
                for="fName"
                class="mb-3 block text-base font-medium text-amber-500"
              >
                Item Price
              </label>
              <input
                type="text"
                name="itemprice"
                id="fName"
                placeholder="Item Price"
                ngModel
                class="w-full  bg-white py-3 px-6 placeholder-blue-500 focus:placeholder-amber-900 font-medium text-blue-950 outline-none focus:bg-amber-500"
              />
            </div>
          </div>
          <label
                for="fName"
                class="mb-3 block text-base font-medium text-amber-500"
              >
                Upload Item image
              </label>
          <input type="file" name="itemimg" class="bg-white p-2 mb-4" (change)="getImg($event)" >

        <div class="mb-5">
          <label class="mb-3 block font-medium text-amber-500">
            Item type
          </label>
          <div class="flex items-center space-x-6">
            
            <div>
              <div class="relative inline-flex self-center">
                <span class="material-icons text-white bg-blue-950 absolute top-0 right-0 m-2 pointer-events-none p-2">
                  arrow_drop_down
                  </span>
                  <select name="itemtype" ngModel class="text-lg font-bold rounded  text-blue-950 h-14 w-60 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                      <option value="ff">Fastfood</option>
                      <option value="b">Beverages</option>
                      <option value="s">Snacks</option>
                  </select>
              </div>
          </div>

          </div>
        </div>

        <div>
          <button
            class="bg-amber-500 py-2 px-8 text-center font-medium text-blue-950 hover:bg-blue-950 hover:text-amber-500"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
