.main{
<<<<<<< HEAD
    width: 100%;
    height: 100vh;
    background-color: red;
}
=======
  width: 100%;
  height: 100vh;
  background-color: brown;
}

>>>>>>> b4b17bfb7013dc4e4e13763de4a2a4638900e603
.sub-main{
    width: 100%;
    height: calc(100vh - 10%) ;
    background-color: purple;
}
.navbar{
    width: 100%;
    height: 10%;
    background-color: green;
}
