.main{
<<<<<<< HEAD
  width: 100%;
  height: 100vh;
  background-color: brown;
}
=======
    width: 100%;
    height: 100vh;
    background-color: red;
}
.sub-main{
    width: 100%;
    height: calc(100vh - 10%) ;
    background-color: purple;
}
.navbar{
    width: 100%;
    height: 10%;
    background-color: green;
}
>>>>>>> 864300888fd3095b2df72fd4b6baf449c19c52d7
