<<<<<<< HEAD

*{
  margin: 0;
  padding: 0;
}
=======
/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
>>>>>>> 864300888fd3095b2df72fd4b6baf449c19c52d7
