<div class="main">
  <div class="upper-bar">
    <div class="title">
      <h1>Feedback/Suggestion</h1>
    </div>
    <div class="logout-btn" (click)="logout()">
      <span class="material-icons">logout</span>
    </div>
  </div>
  <div class="form">
    <form action="">
      <input type="text" placeholder="Name" name="fname">
      <input type="text" placeholder="PID No." name="pid">
      <textarea name="complaint" placeholder="Complaint/suggestion" cols="29" rows="10"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>