<div class="main flex items-start justify-center">
  <section class="container mx-auto p-6 ">
    <div class="w-full mb-8 overflow-hidden">
      <div class="w-full overflow-auto">
        <table class="w-full">
          <thead>
            <tr class="text-md border-blue-950 font-medium tracking-wide text-left text-blue-950 bg-amber-400 capitalize">
              <th class="px-4 py-3 border border-blue-950">User Name</th>
              <th class="px-4 py-3 border border-blue-950">User Id</th>
              <th class="px-4 py-3 border border-blue-950">Status</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="text-gray-700" >
              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  <div>
                    <p class="font-medium text-black">demo</p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-ms font-medium border">22</td>
              <td class="px-4 py-3 text-xs border">
                <span class="px-4 py-2 font-medium leading-tight text-green-700 bg-green-100 "> Active </span>
              </td>
            </tr>
            
            
            
            
            
            
            
            
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>